<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Crea8NOW is an online platform that connects African creatives and freelancers to African clients.">
    <meta name="author" content="Crea8NOW">
    <meta property="og:title" content="Crea8NOW">
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="Crea8NOW">
    <meta property="og:url" content="http://www.crea8now.com.ng">
    <meta property="og:image" content="/static/logo.png">
    <meta property="og:locale" content="en_US">
    <meta name="theme-color" content="black">
    <meta name="msapplication-navbutton-color" content="black">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="/static/index.css">
    <link rel="shortcut icon"href="/static/logo.png">
    <title>Crea8NOW | Contact Us</title>
  </head>
  <body>
    <div class="banner">
      <div class="logo">
        <img src="/static/logo.png" alt="Crea8NOW Logo">
      </div>
      <div class="menu">
        <a href="/">Home</a>
        <a href="/hiw">How It Works</a>
        <a href="/services">Quick Services</a>
        <a class="active" href="/contact">Contact Us</a>
      </div>
      <nav role="navigation">
      <div id="menuToggle">
        <input type="checkbox" />
        <span></span>
        <span></span>
        <span></span>
        <ul id="menu">
          <a href="/"><li>Home</li></a>
          <a href="/hiw"><li>How It Works</li></a>
          <a href="/services"><li>Quick Services</li></a>
          <a href="/contact"><li class="active">Contact Us</li></a>
        </ul>
      </div>
      </nav>
    </div>
    <div class="content">
      <h1>Get in Touch</h1>
      <div class="contact">
        <div class="col1">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3964.6627803716187!2d3.4555944147702555!3d6.4373383953426755!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x103bf50049e67fdb%3A0x89d0c4525fbfa416!2s1+Bisola+Durosinmi+Etti+Dr%2C+Eti-Osa%2C+Lagos!5e0!3m2!1sen!2sng!4v1503473274889" frameborder="0" style="border:0" allowfullscreen></iframe>
          <div class="text">
            <span style="color:#FDA51D">Email:</span> <br>teamcrea8now@gmail.com
            <p><span style="color:#FDA51D">Phone:</span><br><a href="tel:+2347067284546" style="text-decoration:none; color:inherit">+234-706-728-4546</a></p>
          </div>
        </div>
        <div class="col2">
          <form class="" method="post" action="">
            <input type="text" name="name" placeholder="Your name" required>
            <input type="text" name="email" placeholder="Your email" required><p></p>
            <textarea name="name" placeholder="Message"></textarea><p></p>
            <button type="submit" name="btn">Submit</button>
          </form>
        </div>
      </div>
      </div>
  </body>
</html>
