<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Crea8NOW is an online platform that connects African creatives and freelancers to African clients.">
    <meta name="author" content="Crea8NOW">
    <meta property="og:title" content="Crea8NOW">
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="Crea8NOW">
    <meta property="og:url" content="http://www.crea8now.com.ng">
    <meta property="og:image" content="/static/logo.png">
    <meta property="og:locale" content="en_US">
    <meta name="theme-color" content="black">
    <meta name="msapplication-navbutton-color" content="black">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="/static/index.css">
    <link rel="shortcut icon"href="/static/logo.png">
    <title>Crea8NOW | How It Works</title>
  </head>
  <body>
    <div class="banner">
      <div class="logo">
        <img src="/static/logo.png" alt="Crea8NOW Logo">
      </div>
      <div class="menu">
        <a href="/">Home</a>
        <a class="active" href="/hiw">How It Works</a>
        <a href="/services">Quick Services</a>
        <a href="/contact">Contact Us</a>
      </div>
      <nav role="navigation">
      <div id="menuToggle">
        <input type="checkbox" />
        <span></span>
        <span></span>
        <span></span>
        <ul id="menu">
          <a href="/"><li>Home</li></a>
          <a href="/hiw"><li class="active">How It Works</li></a>
          <a href="/services"><li>Quick Services</li></a>
          <a href="/contact"><li>Contact Us</li></a>
        </ul>
      </div>
      </nav>
    </div>
    <div class="content">
      <video autoplay loop id="video-background" muted plays-inline>
        <source src="/static/videoback.mp4" type="video/mp4">
        </video>
      <div class="hiw">
        <div class="step1 animate-reveal animate-first">
          <div class="img">
            <img src="/static/1.png" alt="Step 1 image">
          </div>
          <h2>Select a Service</h2>
            Go to our <a href="/services" style="color:#56b6a8">Services Page</a> and select whatever you're looking for.
        </div>
        <div class="step2 animate-reveal animate-second">
          <div class="img">
            <img src="/static/2.png" alt="Step 2 image">
          </div>
          <h2>Fill out the form</h2>
          Fill out the form with all necessary information and specifications
        </div>
        <div class="step3 animate-reveal animate-third">
          <div class="img">
            <img src="/static/3.png" alt="Step 3 image">
          </div>
          <h2>Make Payment</h2>
         Select payment method and complete the transaction. That's it. You're all set.
        </div>
      </div>
    </div>
  </body>
</html>
